<?xml version="1.0"?>
<launch>
	<include file="$(find rrt)/launch/parameters.launch" />
    <include file="$(find rrt)/launch/pedworld.launch" />
    <!-- <include file="$(find rrt)/launch/rrt.launch" /> -->
    <!-- For moving pedestrian and LMPCC -->
    <include file="$(find lmpcc_obstacle_feed)/launch/lmpcc_obstacle_feed.launch" />
    <include file="$(find lmpcc)/launch/lmpcc.launch" />
    <!-- <include file="$(find pedsim_visualizer)/launch/visualizer.launch" /> -->
    <!-- LMPCC control  -->
	<!-- <node
		pkg="rqt_reconfigure"
		type="rqt_reconfigure"
		name="rqt_reconfigure"
		required="true"
		output="log"
	/> -->
</launch>

