<?xml version="1.0"?>
<launch>
	<include file="$(find rrt)/launch/parameters.launch" />
	<!-- Start the obstacle detection node -->
	<node
		pkg="pcl_converter"
		type="pcl_converter_node"
		name="pcl_converter_node"
		respawn="true"
		respawn_delay="2"
		output="log"
	/>
	<!-- Start the RRT planner node -->
	<node
		pkg="rrt"
		type="rrt_node"
		name="rrt_node"
		output="screen"
		required="true"
	/>
    <!-- RVIZ -->
    <arg name="rvizconfig" default="$(find rrt)/rviz/matlab.rviz" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
      
</launch>
