<launch>
	<!-- Initialize parameters -->
	<include file="$(find rrt)/launch/parameters.launch" 
	/>
	<node
		pkg="pcl_converter"
		type="pcl_converter_node"
		name="pcl_converter_node"
		respawn="false"
		required="true"
        output="screen"
	/>
	<node
		pkg="rrt"
		type="rrt_node"
		name="rrt_node"
		respawn="false"
		output="screen"
		required="true"
        launch-prefix="valgrind --tool=callgrind --callgrind-out-file='callgrind.rrt.%p' "
	/>
</launch>
