<?xml version="1.0"?>
<launch>
	<!-- Load parameters-->
	<include 
		file="$(find rrt)/launch/parameters.launch" 
	/>
	<!-- Start the RRT planner node -->
	<node
		pkg="rrt"
		type="rrt_node"
		name="rrt_node"
		output="screen"
		required="true"
	/>
	<!-- Start the mission planner -->
	<node
		pkg="mission_planner"
		type="mission_planner_node"
		name="mission_planner_node"
		output="screen"
		required="true"
	/>	
</launch>
